<h2>Hola Mundo en Angular Js</h2>
<h1>{{ "Hola Mundo".length }}</h1>
<h2>Hola mi nombres es {{ person.name }}</h2>
<button [disabled]="buttondisable">Enviar</button>
<input [value]="person.name" />
<progress value="50" [max]="maxWith"></progress>
<h1>CONTADRO: {{ counter }}</h1>
<button (click)="toogleButton()">Aumentar contador</button>
<button (click)="counterReset()">RESET</button>
<hr />
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id optio suscipit
    nulla impedit unde quibusdam officiis numquam eveniet reprehenderit minus,
    repellendus ad sit ullam? Repellat accusamus facilis odio libero tempore?,
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id optio suscipit
    nulla impedit unde quibusdam officiis numquam eveniet reprehenderit minus,
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id optio suscipit
    nulla impedit unde quibusdam officiis numquam eveniet reprehenderit minus,
  </p>
</div>

<hr />

<input type="text" (keyup)="onKeyUp($event)" />

<hr />

<input required type="text" #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>

<p *ngIf="person.name == 'mario'; else myblock">My Content</p>

<ng-template #myblock>
  <p>My Block</p>
</ng-template>

<hr />

<h1>FORMULARIO</h1>

<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input required type="text" name="name" [(ngModel)]="register.name" />
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input required type="email" name="email" [(ngModel)]="register.email" />
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input
      required
      type="text"
      name="password"
      [(ngModel)]="register.password"
    />
    <p>Mensaje de error</p>
  </div>

  <button [disabled]="myForm.invalid" type="submit">Enviar</button>
</form>

<hr/>
<input type="text" [(ngModel)]="person.name" />
<ul>
  <li *ngIf="names.length == 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} {{ name }}
    <button (click)="handleDeleteName(i)">Eliminar</button>
  </li>
</ul>

<button (click)="handleSaveName(person.name)">Agregar nombre</button>
<hr />

<hr />
<h1>NGCLASS & NGSTYLE</h1>

<div [ngClass]="{ red: person.name == 'mario', blue: person.name == 'juan' }">
  <h1>{{ person.name }}</h1>
</div>

<h1>PRODUCT LIST</h1>
<hr />

<div class="products--grid">
  <div *ngFor="let product of products">
    <!-- <img [src]="product.img" alt="Image" />
    <h2>{{ product.name }}</h2>
    <p>{{ product.price }}</p> -->
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
